<launch>
<!-- Launch file for use on robot computer. Runs the nodes on robot -->

<!-- taurobot drivers (need to run seperately clinet watchdog on new OCU terminal) -->
<include file="$(find taurob_mi_launch)/launch/tracker_bringup.launch"/>

<!-- hokuyo laser scaner drivers -->
<include file="$(find taurob_mi_launch)/launch/hokuyo_laser.launch"/>


 <!-- imu drivers -->
  <!--node pkg="um7" type="um7_driver" respawn="true" output="screen" name="imu"/-->

<!-- tf transform -->
<!-- args ="x y z qx qy qz frame_id child_frame_id period_in_ms" -->
<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.275 0 0.075 0 0 0 /base_link /base_laser 40" />

<!-- front and rear chassis ip cams-->
<!--include file="$(find taurob_mi_launch)/launch/rear_ip_cam.launch"/-->
<!--include file="$(find taurob_mi_launch)/launch/front_ip_cam.launch"/-->

<!-- USB camera -->
<include file="$(find taurob_mi_launch)/launch/cv_cam.launch"/>

<!-- gmapping SLAM -->
<include file="$(find taurob_mi_launch)/launch/slam_gmapping.launch"/>
<!-- Hector SLAM -->
<!--include file="$(find taurob_mi_launch)/launch/slam_hector.launch"/-->

<!-- Navigation stuff / move_base -->
<include file="$(find taurob_mi_launch)/launch/move_base.launch"/>



</launch>
