<launch>
<!-- Launch file for use on robot computer. Runs the nodes on robot -->
  
<!-- taurobot drivers (need to run seperately clinet watchdog on new OCU terminal) -->
<include file="$(find taurob_mi_launch)/launch/tracker_bringup.launch"/>


<!-- hokuyo laser scaner drivers -->
  <node pkg="urg_node" type="urg_node" respawn="true" output="screen" name="hokuyo">
    <param name="frame_id" type="string" value="base_laser"/>
    <param name="ip_address" type="string" value="10.0.0.61"/> 
    <param name="publish_intensity" type="bool" value="false"/>
    <param name="angle_max" type="double" value="4.71"/>
    <param name="angle_min" type="double" value="-4.71"/>
    <remap from="/first" to="/scan" />
   </node>


 <!-- imu drivers -->
  <node pkg="um7" type="um7_driver" respawn="true" output="screen" name="imu"/>


<!-- tf transform -->
<!-- args ="x y z qx qy qz frame_id child_frame_id period_in_ms" -->
<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.275 0 0.075 0 0 0 /base_link /base_laser 40" />

<!-- front and rear chassis ip cams -->
<include file="$(find taurob_mi_launch)/launch/rear_ip_cam.launch"/>
<include file="$(find taurob_mi_launch)/launch/front_ip_cam.launch"/>


<!-- gmapping SLAM -->
<!--include file="$(find taurob_mi_launch)/launch/slam_gmapping.launch"/-->
<!-- Hector SLAM -->
<include file="$(find taurob_mi_launch)/launch/slam_hector.launch"/>

<!-- Navigation stuff / move_base -->
<include file="$(find taurob_mi_launch)/launch/move_base.launch"/>
<!--include file="$(find taurob_mi_launch)/launch/move_base_optimal.launch"/-->


</launch>
