<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<!-- pose 3d plugin for ground truth of taurob -->
  <gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>taurob/pose_ground_truth</topicName>
      <gaussianNoise>0.01</gaussianNoise>
      <frameName>map</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>

<!-- imu for taurob -->
  <gazebo>
    <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>taurob/imu/data</topicName>
      <accelDrift>0.0 0.0 0.0</accelDrift>
      <accelGaussianNoise>0.1 0.1 0.1</accelGaussianNoise>
      <rateDrift>0.0 0.0 0.0</rateDrift>
      <rateGaussianNoise>0.05 0.05 0.05</rateGaussianNoise>
      <headingDrift>0.0</headingDrift>
      <headingGaussianNoise>0.05</headingGaussianNoise>
    </plugin>
  </gazebo>

<!-- ros_control plugin 
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>tracker_controllers</robotNamespace>
    </plugin>
-->
</robot>
